.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 95px 50px 95px;
    color: #000;
    font-weight: normal;
    font-size: 18px;
    
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
    padding-bottom: 2px;
    padding-left: 2px;
}

.link-active {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
    padding-left: 1px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header-logo {
    display: block;
    justify-content: center;
    height: 105px;
    width: 135px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
}

.header__address {
    max-width: calc(240px + 184px);
    padding-left: 193px;
    justify-content: flex-start;
    line-height: 24.3px;
}

.cover {
    position: relative;
    display: grid;
    grid-template-rows: auto min-content;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 20px 50px 50px;
    text-transform: uppercase;
    color: #fff;
    z-index: 0;
}

.overlay {
    position: absolute;  /*Через relative не вставал фон*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.ono-tebe-nado {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    font-weight: bold;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    z-index: 2;
}

.ono {
    display: flex;
    justify-content: flex-start;
}

.tebe {
    display: flex;
    justify-content: center;
}

.nado {
    display: flex;
    justify-content: flex-end;
}

.description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 106px 0px 0px;
    font-weight: 400;
    font-size: 22px;
    z-index: 2;
}

.cover-content {
    word-spacing: 19px;
    line-height: 28px;
}

.cover-button {
    background-color: transparent;
    border-radius: 0;
    border-color: #fff;
    color:#fff;
    padding: 12px 32px 11px 31px;
    margin-right: 29px;
    text-transform: uppercase;
}

.lots {
    padding: 178px 24px 0;
}

.lots-title {
    padding: 0 0 27px 40px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.lots-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding-bottom: 30px;
    list-style: none;
    color: #fff;
}

.lots-section-items-link {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
    height:100%;
}

.lots-section-items-text {
    position: relative;
    grid-row: span 1;
    align-content: end;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    height:100%;
    z-index: 2;
}

.card {
    position: relative;
    display: grid;
    grid-template-rows: 110px auto;
    min-height: 596px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots-link {
    padding: 30px 0 0 40px;
    font-weight: normal;
    font-size: 20px;
    text-decoration: underline;
}

.about {
    padding: 155px 24px 0px;
}

.about-section {
    display: grid;
    grid-template-columns: 334px auto;
    grid-template-rows: auto auto auto;
    row-gap: 8px;
}

.about-logo {
    justify-items: center;
}

.about-background-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-column: 1;
    grid-row: 1;
    height: 240px;
    width: 240px;
    background-color: #000;
    border-radius: 50%;
}

.about-logo-img {
    max-width: 148px;
}

.about-section-title {
    grid-column: 2;
    grid-row: 1;
    padding-bottom:76px;
    padding-top: 101px;
    padding-left:25px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    justify-items: start;
}

.about-section-text {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding-left:25px;
    gap: 24px;
    grid-column: 2;
    grid-row: 2;
}

.about-section-content {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display:grid;
    grid-template-columns: 254px auto 240px;
    padding: 170px 51px 82px 50px;
    font-weight: normal;
    font-size: 18px;
}

.footer .address {
    line-height: 25px;
    justify-items: end;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    line-height: 21px;
    padding-top: 2px;
    padding-right: 11px
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer-link {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item {
    height: 48px;
    width: 48px;
}